In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_191026.txt')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205595 entries, 0 to 205594
Data columns (total 11 columns):
C/A                                                                     205595 non-null object
UNIT                                                                    205595 non-null object
SCP                                                                     205595 non-null object
STATION                                                                 205595 non-null object
LINENAME                                                                205595 non-null object
DIVISION                                                                205595 non-null object
DATE                                                                    205595 non-null object
TIME                                                                    205595 non-null object
DESC                                                                    205595 non-null object
ENTRIES                                                                 205595 non-null int64
EXITS                                                                   205595 non-null int64
dtypes: int64(2), object(9)
memory usage: 17.3+ MB

In [10]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,00:00:00,REGULAR,7238905,2452500
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,04:00:00,REGULAR,7238924,2452505
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,08:00:00,REGULAR,7238945,2452536
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,12:00:00,REGULAR,7239029,2452602
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,16:00:00,REGULAR,7239280,2452651

In [18]:
len(df['STATION'].unique())

377

In [23]:
type(df["DATE"][0])

str

In [24]:
df["DATE"] = pd.to_datetime(df["DATE"])

In [25]:
df["DAY"] = df["DATE"].dt.dayofweek

In [28]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,00:00:00,REGULAR,7238905,2452500,5
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,04:00:00,REGULAR,7238924,2452505,5
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,08:00:00,REGULAR,7238945,2452536,5
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,12:00:00,REGULAR,7239029,2452602,5
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,16:00:00,REGULAR,7239280,2452651,5

In [29]:
day_dict = {
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}

In [32]:
df["DAY_STR"] = df["DAY"].map(day_dict)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY,DAY_STR
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,00:00:00,REGULAR,7238905,2452500,5,Saturday
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,04:00:00,REGULAR,7238924,2452505,5,Saturday
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,08:00:00,REGULAR,7238945,2452536,5,Saturday
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,12:00:00,REGULAR,7239029,2452602,5,Saturday
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,16:00:00,REGULAR,7239280,2452651,5,Saturday