In [1]:
import pandas as pd

In [75]:
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_191026.txt')

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205595 entries, 0 to 205594
Data columns (total 11 columns):
C/A                                                                     205595 non-null object
UNIT                                                                    205595 non-null object
SCP                                                                     205595 non-null object
STATION                                                                 205595 non-null object
LINENAME                                                                205595 non-null object
DIVISION                                                                205595 non-null object
DATE                                                                    205595 non-null object
TIME                                                                    205595 non-null object
DESC                                                                    205595 non-null object
ENTRIES                                                                 205595 non-null int64
EXITS                                                                   205595 non-null int64
dtypes: int64(2), object(9)
memory usage: 17.3+ MB

In [77]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,00:00:00,REGULAR,7238905,2452500
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,04:00:00,REGULAR,7238924,2452505
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,08:00:00,REGULAR,7238945,2452536
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,12:00:00,REGULAR,7239029,2452602
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,10/19/2019,16:00:00,REGULAR,7239280,2452651

In [78]:
len(df.STATION.unique())

377

In [99]:
len(df.UNIT.unique())

468

In [79]:
type(df["DATE"][0])

str

In [80]:
df["DATE"] = pd.to_datetime(df["DATE"])

In [81]:
df["DAY"] = df["DATE"].dt.dayofweek

In [82]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,00:00:00,REGULAR,7238905,2452500,5
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,04:00:00,REGULAR,7238924,2452505,5
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,08:00:00,REGULAR,7238945,2452536,5
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,12:00:00,REGULAR,7239029,2452602,5
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,16:00:00,REGULAR,7239280,2452651,5

In [83]:
day_dict = {
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
}

In [84]:
df["DAY_STR"] = df["DAY"].map(day_dict)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY,DAY_STR
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,00:00:00,REGULAR,7238905,2452500,5,Saturday
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,04:00:00,REGULAR,7238924,2452505,5,Saturday
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,08:00:00,REGULAR,7238945,2452536,5,Saturday
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,12:00:00,REGULAR,7239029,2452602,5,Saturday
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-10-19,16:00:00,REGULAR,7239280,2452651,5,Saturday

In [100]:
df = df.sort_values(by=['STATION', 'UNIT', 'DATE'])
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY,DAY_STR,ENTRIES_DIFF
32094,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,00:00:00,REGULAR,15075246,16848101,5,Saturday,0.0
32095,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,04:00:00,REGULAR,15075444,16848361,5,Saturday,198.0
32096,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,08:00:00,REGULAR,15075520,16848613,5,Saturday,76.0
32097,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,12:00:00,REGULAR,15075748,16849236,5,Saturday,228.0
32098,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,16:00:00,REGULAR,15076331,16850112,5,Saturday,583.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180900,R419,R326,00-05-01,ZEREGA AV,6,IRT,2019-10-25,05:00:00,REGULAR,39,160,4,Friday,0.0
180901,R419,R326,00-05-01,ZEREGA AV,6,IRT,2019-10-25,09:00:00,REGULAR,39,160,4,Friday,0.0
180902,R419,R326,00-05-01,ZEREGA AV,6,IRT,2019-10-25,13:00:00,REGULAR,39,160,4,Friday,0.0
180903,R419,R326,00-05-01,ZEREGA AV,6,IRT,2019-10-25,17:00:00,REGULAR,39,160,4,Friday,0.0
180904,R419,R326,00-05-01,ZEREGA AV,6,IRT,2019-10-25,21:00:00,REGULAR,39,160,4,Friday,0.0

In [126]:
df['ENTRIES_DIFF']=df.groupby(['STATION', 'UNIT'])['ENTRIES'].diff().fillna(-1)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY,DAY_STR,ENTRIES_DIFF
32094,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,00:00:00,REGULAR,15075246,16848101,5,Saturday,-1.0
32095,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,04:00:00,REGULAR,15075444,16848361,5,Saturday,198.0
32096,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,08:00:00,REGULAR,15075520,16848613,5,Saturday,76.0
32097,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,12:00:00,REGULAR,15075748,16849236,5,Saturday,228.0
32098,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,16:00:00,REGULAR,15076331,16850112,5,Saturday,583.0

In [127]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS', 'DAY', 'DAY_STR', 'ENTRIES_DIFF'],
      dtype='object')

In [128]:
df = df.rename(columns={'EXITS                                                               ': 'EXITS'})

In [129]:
df['EXIT_DIFF']=df.groupby(['STATION', 'UNIT'])['EXITS'].diff().fillna(-1)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DAY,DAY_STR,ENTRIES_DIFF,EXIT_DIFF
32094,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,00:00:00,REGULAR,15075246,16848101,5,Saturday,-1.0,-1.0
32095,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,04:00:00,REGULAR,15075444,16848361,5,Saturday,198.0,260.0
32096,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,08:00:00,REGULAR,15075520,16848613,5,Saturday,76.0,252.0
32097,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,12:00:00,REGULAR,15075748,16849236,5,Saturday,228.0,623.0
32098,H007,R248,00-00-00,1 AV,L,BMT,2019-10-19,16:00:00,REGULAR,15076331,16850112,5,Saturday,583.0,876.0

32094     16848101
32095     16848361
32096     16848613
32097     16849236
32098     16850112
            ...
180900         160
180901         160
180902         160
180903         160
180904         160
Name: EXITS, Length: 205595, dtype: int64